.video {
	position: absolute;
	width: 100%;
	height: 388px;
	overflow: hidden;
  }

  video {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	transform: scale(1.015);
	z-index: -1;
  }

  #main-content {
	background-image: none;
  }

  @font-face {
	font-family: exo2;
	src: url(Exo2-SemiBold.otf);
  }
  @font-face {
	font-family: poppins;
	src: url(Poppins-Regular.otf);
  }

  #config-select__div {
	right: 20px;
	opacity: 0.2;
  }
  #config-select__div:hover {
	opacity: 1;
	transition: opacity 0.5s;
  }

  h1 {
	display: inline-block;
	position: absolute;
	top: 37px;
	left: 40px;
	margin-top: -10px;
	padding-bottom: 20px;
  }

  #btn-progress {
	background: rgb(22,86,120);
	background: linear-gradient(180deg, rgba(22,86,120,1) 0%, rgba(19,109,161,1) 100%);
  }

  #btn-progress:hover {
	background: rgb(24,96,134);
	background: linear-gradient(180deg, rgba(24,96,134,1) 0%, rgba(18,124,186,1) 100%);
  }