body {
    background-image: url(./images/background.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	text-shadow: 1px 1px 0px #000
}

.video{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
video{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  transform: scale(1.015);
}

@font-face {
  font-family: exo2;
  src: url(Exo2-SemiBold.otf);
}
@font-face {
  font-family: poppins;
  src: url(Poppins-Regular.otf);
}

h1{
    display: inline-block;
    position: absolute;
    top: 37px;
    left: 40px;
    margin-top: -10px;
    padding-bottom: 20px;
}
.title {
	text-shadow: 2px 2px 5px #000
}

.button {
	text-shadow: 1px 1px 5px #000
}

.button.is-primary {
	animation: radial-pulse 2s infinite;
}

p.error {
    color: red;
}

label.error {
    color: red;
}

p.warn {
    color: orange;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

#current_config {
  position: relative;
  top: 6px;
  right: 10px;
  text-align: center;
  font-size: 80%;
}


#config-select__div {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0.06;
}
#config-select__div:hover {
  opacity: 0.66;
  transition: opacity 4s;
}
.infobox {
  position: absolute;
  bottom: 20px;
  overflow: scroll;
  display: none;
  width: 95%;
  margin-top: 20px;
  padding-right: 10px;
  height: 370px;
  /* user-select: all; */
}

.infobox p {
  white-space: pre;
}

.open {
  display: block;
}

.status-button {
  display: inline-block;
}

.progress-status {
  padding-bottom: 20px;
  height : 60px;
  overflow: hidden;
  width: 550px;
}

.progress-label {
  /* margin-top: auto;  */
  display: inline-block;
  /* border-style: solid;
  border-width: 1px;
  border-color: black; */
  font-size: 80%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#lbl-progress-full {
  width: 350px;
}
#lbl-progress-part {
  width: 150px;
}

.progress-block {
  position: relative;
  padding-top: 170px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 43px;
  width: 73%;
  display: inline-block;
}

.button-block {
  position: absolute;
  display: inline-block;
  padding-left: 30px;
  top: 226px;
}

#btn-progress {
  min-height: 100px;
  max-height: 100px;

  min-width: 150px;
  max-width: 150px;

  /* font-size: 100%; */
  white-space: normal;

  background: rgb(22,86,120);
  background: linear-gradient(180deg, rgba(22,86,120,1) 0%, rgba(19,109,161,1) 100%);
}
#btn-progress:hover {
  background: rgb(24,96,134);
  background: linear-gradient(180deg, rgba(24,96,134,1) 0%, rgba(18,124,186,1) 100%);
}

.progress {
	box-shadow: 2px 2px 5px #000;
}

.section {
  padding-bottom: 0px;
  width: 100%;
}

/* Add radial Pulse ability */
@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 1);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
/**/


