/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/poppins-v20-latin-600.woff2') format('woff2');
}

@font-face {
	font-family: exo2;
	src: url('fonts/Exo2-SemiBold.otf');
}

body,button,input,select,textarea {
	font-family:"exo2","Lato",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#title {
	font-family: Poppins;
	font-weight: 600;
	letter-spacing: -0.6px;
}

.progress::-webkit-progress-bar {
	background: rgb(85,99,101);
	background: linear-gradient(0deg, rgba(85,99,101,1) 0%, rgba(102,118,120,1) 100%);
}

.progress.is-primary::-webkit-progress-value {
	background: rgb(43,74,106);
	background: linear-gradient(0deg, rgba(43,74,106,1) 0%, rgba(64,103,143,1) 100%);
}

.progress.is-success::-webkit-progress-value {
	background: rgb(44,187,105);
	background: linear-gradient(0deg, rgba(44,187,105,1) 0%, rgba(51,224,125,1) 100%);
}

#config-select__div {
	right: 20px;
	opacity: 0.33;
}

#config-select__div:hover {
	opacity: 1;
	transition: opacity 0.35s;
}

#btn-progress {
	background: rgb(22, 86, 120);
	background: linear-gradient(180deg, rgba(22, 86, 120, 1) 0%, rgba(19, 109, 161, 1) 100%);
}

#btn-progress:hover {
	background: rgb(24, 96, 134);
	background: linear-gradient(180deg, rgba(24, 96, 134, 1) 0%, rgba(18, 124, 186, 1) 100%);
}
